<!DOCTYPE html>
<html lang='zh-CN'>
<head>
    <title>首页</title>
    <%- include header.html %>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">MySelf</a>
        </div>

        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="/life">生活</a>
                </li>
                <li  class="active">
                    <a href="/travel">旅行</a>
                </li>
                <li >
                    <a href="/work">工作</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%=locals.user.username%> <b
                            class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><i class="glyphicon glyphicon-user"></i> 个人资料</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><i class="glyphicon glyphicon-lock"></i> 锁屏</a></li>
                        <li><a href="/logout"><i class="glyphicon glyphicon-off"></i> 注销</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>

<div class="jumbotron" style="background-image:url('/static/images/info.png');height:500px;">
    <div class="container">
        <h1>Hello, world!</h1>

        <p>生活虽然没有你，可以我仍然相信有那么一刻.</p>
    </div>
</div>

<div class="container">

</div>
<%- include footer.html %>
</body>
</html>